<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="{% static 'css/Invoice.css' %}">
</head>
<body>
    <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
        <div class="card">
            <div class="card-header p-4">
                <a class="pt-2 d-inline-block" href="index.html" data-abc="true">BBBootstrap.com</a>
                <div class="float-right">
                    <h3 class="mb-0">Invoice id: {{payment_status.order_id}}</h3>
                    Date: {{order.ordered_date}}
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h5 class="mb-3">From:</h5>
                        <h3 class="text-dark mb-1">Essential</h3>
                        <div>Kannur</div>
                        <div>Kerala,India</div>
                        <div>ziyanaparveen6@gmail.com</div>
                        <div>ph:+91-7510958898</div>
                    </div>
                    <div class="col-sm-6 ">
                        <h5 class="mb-3">To:</h5>
                        <h3 class="text-dark mb-1">{{order.user.username}}</h3>
                        <div>{{checkout_address.street_address}}</div>
                        <div>{{checkout_address.apartment_address}}</div>
                        <div>{{checkout_address.country}}</div>
                        <div>{{checkout_address.zip_code}}</div>
                        <div>{{payment_status.contact}}</div>
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Item</th>
                                <th></th>
                                <th class="right"></th>
                                <th class="center">count</th>
                                <th class="right">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td class="center">{{forloop.counter}}</td>
                                <td class="left strong">{{item.product.name}}</td>
                                <td class="left"></td>
                                <td class="right"></td>
                                <td class="center">{{item.quantity}}</td>
                                <td class="right">Rs.{{item.get_total_item_price}}</td>
                            </tr>
                            {% endfor %}
                            
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                               
                                <tr>
                                    <td class="left">
                                        <strong class="text-dark">Total</strong> </td>
                                    <td class="right">
                                        <strong class="text-dark">Rs.{{order.get_total_price}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white">
                <p class="mb-0">Bootstrap.com, Sounth Block, New delhi, 110034</p>
            </div>
        </div>
    </div>
</body>
</html>